/* Fondo */
:root{
  --vp-c-bg: #e6edfa;
  --vp-c-bg-alt: #d9e5fc;
}
.dark {
  --vp-c-bg: #1e1e20;
  --vp-c-bg-alt: #161618;
}

/* Colores */
:root{

  --vp-c-indigo-1: #4482e0;
  --vp-c-indigo-2: #124592;
  --vp-c-indigo-3: #2d7aec;
  --vp-c-indigo-soft: rgba(100, 108, 255, 0.14);

  --vp-c-brand: #4482e0;
  --vp-c-brand-light: #6ca2f3;
  --vp-c-brand-lighter: #87afeb;
  --vp-c-brand-dark: #2d7aec;
  --vp-c-brand-darker: #124592;

  --vp-soft-bg: #f9f9fa48;
}
.dark {
  --vp-soft-bg: #18181823;
}

/* Bloques */
:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand);

  --vp-custom-block-tip-bg: var(--vp-soft-bg);
  --vp-custom-block-warning-bg: var(--vp-soft-bg);
  --vp-custom-block-danger-bg: var(--vp-soft-bg);
}

/* Badges */
:root {
  --vp-badge-tip-border: var(--vp-c-brand);
  --vp-badge-tip-text: var(--vp-c-brand);
  --vp-badge-tip-bg: var(--vp-soft-bg);
}
